body, html {
  background-image: url(./images/background_image1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.App {
  padding: 100px 50px;
  margin: 80px;
  display: inline-block;
  border: 3px solid #F6A081;

}

.title {
  white-space: nowrap;
  font-size: 6vw;
}

.titleName {
  white-space: nowrap;
  font-size: 6vw;
  color: #F6A081;
  margin: 0
}

.subtitleName{
  white-space: nowrap;
  font-size: 3vw;
  margin: 0
}

.about_me_li, .projects_li, .contact_me_li {
  list-style-type: none;
  padding: 5px;
}

.logo {
  font-size: 1.5em;
}

nav {  
 justify-content: space-between;
  padding: 1%;
}

/* .menu{
  justify-content: space-between;
} */





